.btn-del{
  display: inline-block;
  color: blue;
  margin-left: 10px;
  padding: 0;
  border: 0;
  height: 32px;
  line-height: 32px;
  background: #ffffff;
}

.item-list{
  display: inline-block;
}

.demo-text{
  width: 620px;
  border-bottom: 1px solid #d5d5d5;
  box-sizing: border-box;
  display: inline-block;
  height: 60px;
  line-height: 60px;
}
.demo-btn{
  width: 125px;
  box-sizing: border-box;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius:0;
  margin-bottom:-1px;
  margin-left: -1px;
  background: #ffffff;
  color: #333333;
  padding: 0;
  border: 0;

}
