.index{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;/*此次若用%，头部将不能定位*/
  overflow: hidden;
  font-size: 28px;
  .header{
    width: 100%;
    background: orange;
    box-sizing: border-box;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    .customize-box{
      width: 40%;
      .navigator{
        -webkit-tap-highlight-color: transparent;
      }
      .navigator-hover{
        color: blue;
      }
    }
    .search-box{
      border: 1px solid #ffffff;
      background: #ffffff;
      color: #333333;
      padding: 10px;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-radius: 50px;
      width: 60%;
      overflow: hidden;
      icon{
        margin-right: 10px;
        box-sizing: border-box;
      }
      .search{
        display: inline-block;
        box-sizing: border-box;
        overflow: hidden;
        font-size: 30px;
        color: #999999;
      }
    }
  }
  .index-body{
    box-sizing: border-box;
    overflow-y: auto;
    width: 100%;
    height: calc(100% - 70px);
    /*子元素伸缩*/
    -webkit-box-flex: 1.0;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;

    .module-title{
      font-size: 38px;
      text-align: center;
      padding: 30px;
      width: 100%;
      box-sizing: border-box;
      font-weight: bold;
    }
    .flash-sale-box{
      width: 750px;
      padding: 0 30px;
      // 一行两列
      -webkit-column-count: 2; /* Chrome, Safari, Opera */
      -moz-column-count: 2; /* Firefox */
      column-count: 2;
      -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
      -moz-column-gap: 30px; /* Firefox */
      column-gap: 30px;

      box-sizing: border-box;
      .item-box{
        border: 0;
        box-sizing: border-box;
        -webkit-column-break-inside: avoid; /*避免在元素内部断行并产生新列*/
        -moz-column-break-inside: avoid;
        column-break-inside: avoid;
        margin-bottom: 30px;
        &:nth-child(2n){
          margin-right: 0;
        }
        .img-box{
          image{
            width: 330px;
          }
        }
        .title{
          color: #333333;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          padding: 0 10px;
          font-size: 28px;
        }
        .price-box{
          padding: 0 10px;
          .price{
            color: red;
            display: inline-block;
          }
          .old-price{
            color: #999999;
            text-decoration: line-through;
            margin-left: 10px;
            display: inline-block;
          }
        }

      }
    }

    .news-box{
      width: 750px;
      padding: 0 30px;
      // 一行两列
      -webkit-column-count: 2; /* Chrome, Safari, Opera */
      -moz-column-count: 2; /* Firefox */
      column-count: 2;
      -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
      -moz-column-gap: 30px; /* Firefox */
      column-gap: 30px;

      box-sizing: border-box;
      .item-box{
        border: 0;
        box-sizing: border-box;
        -webkit-column-break-inside: avoid; /*避免在元素内部断行并产生新列*/
        -moz-column-break-inside: avoid;
        column-break-inside: avoid;
        margin-bottom: 30px;
        &:nth-child(2n){
          margin-right: 0;
        }
        .img-box{
          image{
            width: 330px;
          }
        }
        .title{
          color: #333333;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          padding: 0 10px;
          font-size: 28px;
        }
        .price-box{
          padding: 0 10px;
          .price{
            color: red;
            display: inline-block;
          }
          .old-price{
            color: #999999;
            text-decoration: line-through;
            margin-left: 10px;
            display: inline-block;
          }
        }

      }
    }

    .recommend-box{
      width: 750px;
      padding: 0 30px;
      box-sizing: border-box;
      overflow: hidden;

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap:  wrap;// 子元素超过容器可多行排列
      align-content:flex-start; //多轴对齐方式
      .item-box{
        width: 330px;
        border: 0;
        margin: 0 30px 40px 0;
        box-sizing: border-box;

        &:nth-child(2n){
          margin-right: 0;
        }
        .img-box{
          width: 330px;
          height: 440px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #f2f2f2;
          image{
            width: 100%;
            height: auto;
          }
        }
        .title{
          color: #333333;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          padding: 0 10px;
          font-size: 28px;
        }
        .price-box{
          padding: 0 10px;
          .price{
            color: red;
            display: inline-block;
          }
          .old-price{
            color: #999999;
            text-decoration: line-through;
            margin-left: 10px;
            display: inline-block;
          }
        }

      }
    }
  }
}
