.index{
  width: 100%;
  height: 100%;
  overflow: hidden;
  .index-header{
    width: 100%;
    display: flex;
  }
  .index-body{
    bottom: 0;
    margin-bottom: taro-tabbar-height;
    width: 100%;
    display: block;
  }
  .index-footer{
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #ffffff;
    color: #333333;

    .tabbar{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 25%;
      text-align: center;
      navigator{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
      text{
        text-align: center;
        padding: 10px 0;
      }
      .icon{
        width: 60px;
        height: 60px;
        overflow: hidden;
        image{
          max-width: 100%;
          height: 100%;
        }
      }
      &.on{
        background: #333333;
        color: #ffffff;
      }
    }
  }
}
