.images-box{
  height: 750px;
  .images-item{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    image{
      width: 563px;
      height: 750px;
    }
  }
}
