.custom-box{
  font-size: 28px;
  padding: 30px;
  .form-group{
    margin-bottom: 50px;
    /*输入标题*/
    text{
      padding: 10px;
      display: block;
    }
    /*单选框*/
    .radio-list__label{
      margin-right: 20px;
    }
    /*输入框*/
    input{
      border: 1px solid #d5d5d5;
      margin-top: 10px;
      padding:10px;
    }
    /*图片列表*/
    .img-list{
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap:  wrap;// 子元素超过容器可多行排列
      align-content:flex-start; //多轴对齐方式
      .img-item{
        width: 120px;
        position: relative;
        margin: 10px 10px 20px 10px;
        padding: 10px;
        image{
          width: 120px;
          height: 120px;
          overflow: hidden;
        }
        // clear mark
        icon{
          position: absolute;
          top:0;
          right: 0;
        }
      }
      // 相机
      .img-btn{
        width: 120px;
        height: 120px;
        overflow: hidden;
        text-align: center;
      }
    }
    .more-info{
      background: #fff;
      width: 100%;
      min-height: 80px;
      padding: 10px 0 10px 10px;
      border: 1px solid #d5d5d5;
      box-sizing: border-box;
    }
  }
  /*表单按钮*/
  .form-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    .btn-max-w{
      width: 330px;
      background: #ffffff;
      line-height: 70px;
      border: 1px solid #f2f2f2;
      &.submit-btn{
        background: orange;
        color: #ffffff;
        border: 1px solid orange;
      }
    }
    .mr30{
      margin-right: 30px;
    }
  }
}
