.category-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;/*此次若用%，头部将不能定位*/
  overflow: hidden;
  font-size: 28px;
  /*头部导航*/
 .header{
   width: 100%;
   background: orange;
   box-sizing: border-box;
   padding: 20px 30px;
   display: flex;
   align-items: center;
   /*定制*/
   .customize-box{
     width: 40%;
     .navigator{
       -webkit-tap-highlight-color: transparent;
     }
     .navigator-hover{
       color: blue;
     }
   }
   /*搜索*/
   .search-box{
     border: 1px solid #ffffff;
     background: #ffffff;
     color: #333333;
     padding: 10px;
     box-sizing: border-box;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     border-radius: 50px;
     width: 60%;
     overflow: hidden;
     icon{
       margin-right: 10px;
       box-sizing: border-box;
     }
     .search{
       display: inline-block;
       box-sizing: border-box;
       overflow: hidden;
       font-size: 30px;
       color: #999999;
     }
   }
 }
  /*类目*/
  .category-body{
    box-sizing: border-box;
    overflow-y: auto;
    width: 100%;
    height: calc(100% - 70px);
    /*子元素伸缩*/
    -webkit-box-flex: 1.0;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;

    display: flex;
    align-items: center;
    /*类目tab*/
    .category-tab{
      width: 230px;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      background: #f2f2f2;
      color: #333333;
      .tab-item{
        padding: 30px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        &.on{
          background: #ffffff;
          color: orange;
        }
      }
    }
    /*类目下商品*/
    .category-contain{
      /*子元素伸缩*/
      -webkit-box-flex: 1.0;
      -moz-flex-grow: 1;
      -webkit-flex-grow: 1;
      flex-grow: 1;
      box-sizing: border-box;
      overflow: hidden;
      height: 100%;
      padding-left: 30px;
      .contain-item{
        display: flex;
        align-items: center;
        padding: 30px;
        border-bottom: 1px solid #f2f2f2;
        &:last-child{
          border: 0;
        }
        /*图片*/
        .item-img{
          width: 230px;
          height: 240px;
          overflow: hidden;
          margin-right: 10px;
        }
        /*商品信息*/
        .item-info{
          .title{
            margin-bottom: 10px;
          }
          /*商品标记*/
          .discount{
            padding: 5px 10px;
            background: orange;
            border-radius: 5px;
            margin-bottom: 20px;
            display: inline-block;
          }
          /*价格，加购*/
          .operate-box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .add{
              width: 40px;
              height: 40px;
              border-radius: 21px;
              background: orange;
              color: #ffffff;
              line-height: 36px;
              text-align: center;
              font-size: 32px;
            }
          }
        }
      }
    }
  }
}
